<ng-include src="'/templates/navbar.html'"></ng-include>
<div id="inspiration-wrapper" ng-controller="InspirationController">
    <h1 class="fancy-font">What makes <span class="italic">you</span> want to travel?<br/>Find your sparks below.</h1>
    <div class="instafeed-wrapper">
       <div class="instafeed-header">
           <img class="instagram-logo" src="/assets/social_media/instagram-300px.png"/><a href="https://www.instagram.com/natgeotravel/">@NatGeoTravel</a>
       </div>
       <div class="instafeed" id="instafeed1"></div>
    </div>
    <div class="instafeed-wrapper">
       <div class="instafeed-header">
           <img class="instagram-logo" src="/assets/social_media/instagram-300px.png"/><a href="https://www.instagram.com/exploringtheglobe/">@ExploringTheGlobe</a>
       </div>
       <div class="instafeed" id="instafeed2"></div>
    </div>
    <ng-include src="'/templates/footer-black.html'"></ng-include>
</div>

<!-- OpenStreetMap:
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=-25.8837890625%2C30.600093873550072%2C25.312500000000004%2C52.214338608258224&amp;layer=transportmap" style="border: 1px solid black"></iframe>
-->

<!-- Youtube Timelapses:
<div class="youtube-timelapse col-md-4">
    <p>Do you love the natural world?</p>
    <iframe width="448" height="252" src="https://www.youtube.com/embed/iO0wmXxY_5I" frameborder="0" allowfullscreen></iframe>
    <p>or prefer cities?</p>
    <iframe width="448" height="252" src="https://www.youtube.com/embed/6TMDfdNm31w" frameborder="0" allowfullscreen></iframe>
    <p>Maybe a safari?</p>
    <p>Or exploring new architecture?</p>
</div>
-->