<div id="landing-container" class="container-fluid">
    <div clas="row">
        <div class="headbar">
            <span class="fancy-font">Spark</span>
        </div>
    </div>
    <div class="row">
        <div class="hero col-md-9"></div>
        <div class="all-points col-md-3 row">
            <div class="point col-sm-4 col-md-12">
                <h2 class="fancy-font"><a ui-sref="inspiration">Get Inspired</a></h2>
                <h4>What calls to <u>you</u>?</h4>
                <p>Forrested islands in Thailand?<br>Magnificent architecture in Italy?<br> Bustling Rio de Janeiro beaches?<br>Sand dunes of Morocco?<br>Northern lights in Norway?<br>Volcanoes in Hawaii?</p>
            </div>
            <div class="point col-sm-4 col-md-12">
                <h2 class="fancy-font"><a ui-sref="search">Find your destination</a></h2>
                <h4>Get suggestions based on your preferences</h4>
                <p>Love nature or the city?<br>Forest, tropics, desert, or snow?<br>Luxury or budget?<br>Close to home, or ready to jetset?</p>
            </div>
            <div class="point col-sm-4 col-md-12">
                <h2 class="fancy-font"><a ui-sref="resources">Plan your trip</a></h2>
                <h4>All the tools you need to make it happen</h4>
                <p>Discover helpful resources for transportation, lodging, activities, getting involved, travel safety, and more.</p>
            </div>
        </div>
    </div>
</div> 

<ng-include src="'/templates/footer-black.html'"></ng-include>

