<div class="container-fluid landing-page">
    <div class="row landing-cover">
        <div class="col-xs-12 landing-cover-image">
            <img src="/assets/tunnel-beach.jpg">
        </div>
    </div>
    <div class="row landing-section">
        <div class="col-sm-8 landing-text">
            <a ui-sref="inspiration">Get Inspired</a>
        </div>
        <div class="col-sm-4 landing-pic"></div>
    </div>
    <div class="row landing-section">
        <div class="col-sm-4 landing-pic"></div>
        <div class="col-sm-8 landing-text">
            <a ui-sref="search">Find your destination</a>
        </div>
    </div>
    <div class="row landing-section">
        <div class="col-sm-8 landing-text">
            <a ui-sref="resources">Plan your trip</a>
        </div>
        <div class="col-sm-4 landing-pic"></div>
    </div>
    <div class="row landing-section">
        <div class="col-sm-6 testimonial-image">
            <div class="image-hold"></div>
        </div>
        <div class="col-sm-6 testimonial text"></div>
    </div>
</div>
<ng-include src="'/templates/footer.html'"></ng-include>

