<ng-include src="'/templates/navbar.html'"></ng-include>
<div id="landing-container" class="container-fluid">
    <div class="row">
        <div class="hero"></div>
        <div class="all-points row">
            <div class="point col-sm-4">
                <span class="glyphicon glyphicon-picture landing-icon"></span>
                <h2 class="fancy-font">Get Inspired</h2>
                <h4>What calls to <u>you</u>?</h4>
                <p>Forrested islands in Thailand?<br/>Magnificent architecture in Italy?<br/> Bustling Rio de Janeiro beaches?</p>
                <a ui-sref="inspiration" class="button landing-button">Find inspiration</a>
            </div>
            <div class="point col-sm-4">
                <span class="glyphicon glyphicon-globe landing-icon"></span>
                <h2 class="fancy-font">Find your destination</h2>
                <h4>Get suggestions based on your preferences</h4>
                <p>Love nature or the city?<br/>Luxury or budget?<br/>What languages do you speak?</p>
                <a ui-sref="search" class="button landing-button">Search destinations</a>
            </div>
            <div class="point col-sm-4">
                <span class="glyphicon glyphicon-calendar landing-icon"></span>
                <h2 class="fancy-font">Discover resources</h2>
                <h4>All the tools you need to make it happen</h4>
                <p>Find helpful resources for transportation, lodging, activities, getting involved, travel safety, and more.</p>
                <a ui-sref="resources" class="button landing-button">Plan a trip</a>
            </div>
        </div>
    </div>
    <ng-include src="'/templates/footer.html'"></ng-include>
</div> 

