<ng-include src="'/templates/navbar.html'"></ng-include>
<div class="container-fluid resources-container" ng-controller="ResourcesController">
    <h1 class="fancy-font">Plan your trip</h1>
    
    <ul id="filterOptions" class="row">
       <!-- category must be listed as 2nd class on filter -->
        <li class="filter all active first" ng-click="filterClicked($event)">
            <img class="resource-icon" src="/assets/icons/books-white-filled-100px.png"/>
            All</li>
        <li class="filter cat-activ" ng-click="filterClicked($event)">
            <img class="resource-icon" src="/assets/icons/map-white-filled-100px.png"/>
            Activities</li>
        <li class="filter cat-trans" ng-click="filterClicked($event)">
            <img class="resource-icon" src="/assets/icons/airplane-white-filled-100px.png"/>
            Transportation</li>
        <li class="filter cat-lodg" ng-click="filterClicked($event)">
            <img class="resource-icon" src="/assets/icons/bed-white-filled-100px.png"/>
            Lodging</li>
        <li class="filter cat-inv" ng-click="filterClicked($event)">
            <img class="resource-icon" src="/assets/icons/volunteer-white-filled-100px.png"/>
            Get Involved</li>
        <li class="filter cat-other" ng-click="filterClicked($event)">
            <img class="resource-icon" src="/assets/icons/medical-white-filled-100px.png"/>
            Other</li>
    </ul>
    <div id="dataHolder" class="row">
        <div ng-repeat="resource in resources|orderBy: 'itemTitle' " class="item {{resource.categories}}">
            <h3><a href="{{resource.webLink}}">{{resource.itemTitle}}</a></h3>
            <p>{{resource.itemDescr}}</p>
        </div>
    </div>
    <ng-include src="'/templates/footer.html'" class="footer-white"></ng-include>
</div>

