<ng-include src="'/templates/navbar.html'"></ng-include>
<div class="container-fluid resources-container" ng-controller="ResourcesController">
    <h1 class="fancy-font">Plan your trip</h1>
    
    <ul id="filterOptions" class="row">
       <!-- category must be listed as 2nd class on each filter -->
        <li class="filter cat-all active first" ng-click="filterClicked($event)">
            <span class="fa filter-icon fa-fw fa-book"></span>
            <span class="filter-label">All Topics</span>
        </li>
        <li class="filter cat-activ" ng-click="filterClicked($event)">
            <span class="fa filter-icon fa-fw fa-map-marker"></span>
            <span class="filter-label">Activities</span>
        </li>
        <li class="filter cat-trans" ng-click="filterClicked($event)">
            <span class="fa filter-icon fa-fw fa-plane"></span>
            <span class="filter-label">Transportation</span>
        </li>
        <li class="filter cat-lodg" ng-click="filterClicked($event)">
            <span class="fa filter-icon fa-fw fa-home"></span>
            <span class="filter-label">Lodging</span>
        </li>
        <li class="filter cat-inv" ng-click="filterClicked($event)">
            <span class="fa filter-icon fa-fw fa-group"></span>
            <span class="filter-label">Get Involved</span>
        </li>
        <li class="filter cat-other" ng-click="filterClicked($event)">
            <span class="fa filter-icon fa-fw fa-medkit"></span>
            <span class="filter-label">Other</span>
        </li>
    </ul>
    <div id="dataHolder" class="row">
        <div ng-repeat="resource in resources|orderBy: 'itemTitle' " class="item {{resource.categories}}">
            <h3><a href="{{resource.webLink}}">{{resource.itemTitle}}</a></h3>
            <p>{{resource.itemDescr}}</p>
        </div>
    </div>
    <ng-include src="'/templates/footer.html'"></ng-include>
</div>

