<ng-include src="'/templates/navbar.html'"></ng-include>

<div ng-controller="SearchController" id="search-container" class="container-fluid">

<h1 class="fancy-font">Find your next destination</h1>
    
<!-- Search Form -->
<div id="form-control">
    <div class="row">
        <div class="col-sm-4">
            <h4>Major languages spoken...</h4>
            <label><input type="checkbox" ng-true-value="'English'" ng-false-value="" ng-model="checkbox['English']" ng-change="checkboxChange_Lang('English')"> English</label><br/>
            <label><input type="checkbox" ng-true-value="'Spanish'" ng-false-value="" ng-model="checkbox['Spanish']" ng-change="checkboxChange_Lang('Spanish')"> Spanish</label><br/>
            <label><input type="checkbox" ng-true-value="'French'" ng-false-value="" ng-model="checkbox['French']" ng-change="checkboxChange_Lang('French')"> French</label><br/>
            <label><input type="checkbox" ng-true-value="'Arabic'" ng-false-value="" ng-model="checkbox['Arabic']" ng-change="checkboxChange_Lang('Arabic')"> Arabic</label><br/>
            
            <h4>Price range...</h4>
            <label><input type="checkbox" ng-true-value="'Budget'" ng-false-value="" ng-model="checkbox['Budget']" ng-change="checkboxChange_Price('Budget')"> Budget</label><br/>
            <label><input type="checkbox" ng-true-value="'Moderate'" ng-false-value="" ng-model="checkbox['Moderate']" ng-change="checkboxChange_Price('Moderate')"> Moderate</label><br/>
            <label><input type="checkbox" ng-true-value="'Luxury'" ng-false-value="" ng-model="checkbox['Luxury']" ng-change="checkboxChange_Price('Luxury')"> Luxury</label><br/>
        </div>
        <div class="col-sm-4">
            <h4>I can travel to...</h4>
            <label><input type="checkbox" ng-true-value="'North America'" ng-false-value="" ng-model="checkbox['North America']" ng-change="checkboxChange_Reg('North America')"> North America</label><br/>
            <label><input type="checkbox" ng-true-value="'Central America + Caribbean'" ng-false-value="" ng-model="checkbox['Central America + Caribbean']" ng-change="checkboxChange_Reg('Central America + Caribbean')"> Central America + Caribbean</label><br/>
            <label><input type="checkbox" ng-true-value="'South America'" ng-false-value="" ng-model="checkbox['South America']" ng-change="checkboxChange_Reg('South America')"> South America</label><br/>
            <label><input type="checkbox" ng-true-value="'Europe'" ng-false-value="" ng-model="checkbox['Europe']" ng-change="checkboxChange_Reg('Europe')"> Europe</label><br/>
            <label><input type="checkbox" ng-true-value="'Africa'" ng-false-value="" ng-model="checkbox['Africa']" ng-change="checkboxChange_Reg('Africa')"> Africa</label><br/>
            <label><input type="checkbox" ng-true-value="'Asia'" ng-false-value="" ng-model="checkbox['Asia']" ng-change="checkboxChange_Reg('Asia')"> Asia</label><br/>
            <label><input type="checkbox" ng-true-value="'Australia + Pacific'" ng-false-value="" ng-model="checkbox['Australia + Pacific']" ng-change="checkboxChange_Reg('Australia + Pacific')"> Australia + Pacific</label><br/>
        </div>
        <div class="col-sm-4">
            <h4>Sparks...</h4>
            <label><input type="checkbox" ng-true-value="'Nature + Wildlife'" ng-false-value="" ng-model="checkbox['Nature + Wildlife']" ng-change="checkboxChange_Spark('Nature + Wildlife')"> Nature + Wildlife</label><br/>
        </div>
    </div>
    <div class="row search-button">
        <button type="button" ng-click="search()">Search</button>
        <button type="button" ng-click="reset()">Clear all selections</button>
    </div>
<!--
    Language Array: {{languageArray}}<br/>
    Price Array: {{priceArray}}<br/>
    Region Array: {{regionArray}}<br/>
    SparkArray: {{sparkArray}}
-->
</div>
   
<!-- Search Results -->    
<div class="col-xs-12 search-results">
    <div ng-show="showResults">
        <p>mySearch query: {{ mySearch }}</p>
        <div ng-repeat="result in results">
            <div class="item">
                <div class="dest-info">
                    <h3>{{ result.city }}, {{ result.country }}</h3>
                    <p>Language: {{ result.language }}</p>
                    <p>Price Range: {{ result.price }}</p>
                    <p>Region: {{ result.region }}</p>
                    <p>Sparks: {{ result.spark }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

    <ng-include class="col-xs-12" src="'/templates/footer-black.html'"></ng-include>

</div>