<ng-include src="'/templates/navbar.html'"></ng-include>

<div ng-controller="SearchController" id="search-container" class="container-fluid">

<h1 class="fancy-font">Find your next destination</h1>
    
<!-- Search Form -->
<div id="search-form">
    <div class="row">
        <div class="search-column col-sm-4">
            <h4>Major language spoken:</h4>
            <label><input type="checkbox" ng-true-value="'English'" ng-false-value="" ng-model="checkbox['English']" ng-change="checkboxChange_Lang('English')"> English</label><br/>
            <label><input type="checkbox" ng-true-value="'Spanish'" ng-false-value="" ng-model="checkbox['Spanish']" ng-change="checkboxChange_Lang('Spanish')"> Spanish</label><br/>
            <label><input type="checkbox" ng-true-value="'French'" ng-false-value="" ng-model="checkbox['French']" ng-change="checkboxChange_Lang('French')"> French</label><br/>
            <label><input type="checkbox" ng-true-value="'Portuguese'" ng-false-value="" ng-model="checkbox['Portuguese']" ng-change="checkboxChange_Lang('Portuguese')"> Portuguese</label><br/>
            <label><input type="checkbox" ng-true-value="'Arabic'" ng-false-value="" ng-model="checkbox['Arabic']" ng-change="checkboxChange_Lang('Arabic')"> Arabic</label><br/>
            <label><input type="checkbox" ng-model="languageSurprise"> Surprise me!</label><br/>
            
            
            <h4>Price range:</h4>
            <label><input type="checkbox" ng-true-value="'Budget'" ng-false-value="" ng-model="checkbox['Budget']" ng-change="checkboxChange_Price('Budget')"> Budget</label><br/>
            <label><input type="checkbox" ng-true-value="'Moderate'" ng-false-value="" ng-model="checkbox['Moderate']" ng-change="checkboxChange_Price('Moderate')"> Moderate</label><br/>
            <label><input type="checkbox" ng-true-value="'Splurge'" ng-false-value="" ng-model="checkbox['Splurge']" ng-change="checkboxChange_Price('Splurge')"> Splurge</label><br/>
        </div>
        <div class="search-column col-sm-4">
            <h4>Regions:</h4>
            <label><input type="checkbox" ng-true-value="'North America'" ng-false-value="" ng-model="checkbox['North America']" ng-change="checkboxChange_Reg('North America')"> North America</label><br/>
            <label><input type="checkbox" ng-true-value="'Central America + Caribbean'" ng-false-value="" ng-model="checkbox['Central America + Caribbean']" ng-change="checkboxChange_Reg('Central America + Caribbean')"> Central America + Caribbean</label><br/>
            <label><input type="checkbox" ng-true-value="'South America'" ng-false-value="" ng-model="checkbox['South America']" ng-change="checkboxChange_Reg('South America')"> South America</label><br/>
            <label><input type="checkbox" ng-true-value="'Europe'" ng-false-value="" ng-model="checkbox['Europe']" ng-change="checkboxChange_Reg('Europe')"> Europe</label><br/>
            <label><input type="checkbox" ng-true-value="'Africa'" ng-false-value="" ng-model="checkbox['Africa']" ng-change="checkboxChange_Reg('Africa')"> Africa</label><br/>
            <label><input type="checkbox" ng-true-value="'Asia'" ng-false-value="" ng-model="checkbox['Asia']" ng-change="checkboxChange_Reg('Asia')"> Asia</label><br/>
            <label><input type="checkbox" ng-true-value="'Australia + Pacific'" ng-false-value="" ng-model="checkbox['Australia + Pacific']" ng-change="checkboxChange_Reg('Australia + Pacific')"> Australia + Pacific</label><br/>
        </div>
        <div class="search-column col-sm-4">
            <h4>My Sparks:</h4>
            <label><input type="checkbox" ng-true-value="'Nature + Wildlife'" ng-false-value="" ng-model="checkbox['Nature + Wildlife']" ng-change="checkboxChange_Spark('Nature + Wildlife')"> Nature + Wildlife</label><br/>
            <label><input type="checkbox" ng-true-value="'Nightlife'" ng-false-value="" ng-model="checkbox['Nightlife']" ng-change="checkboxChange_Spark('Nightlife')"> Nightlife</label><br/>
            <label><input type="checkbox" ng-true-value="'Culture'" ng-false-value="" ng-model="checkbox['Culture']" ng-change="checkboxChange_Spark('Culture')"> Culture</label><br/>
            <label><input type="checkbox" ng-true-value="'History + Architecture'" ng-false-value="" ng-model="checkbox['History + Architecture']" ng-change="checkboxChange_Spark('History + Architecture')"> History + Architecture</label><br/>
            <label><input type="checkbox" ng-true-value="'Beaches'" ng-false-value="" ng-model="checkbox['Beaches']" ng-change="checkboxChange_Spark('Beaches')"> Beaches</label><br/>
            <label><input type="checkbox" ng-true-value="'Mountains'" ng-false-value="" ng-model="checkbox['Mountains']" ng-change="checkboxChange_Spark('Mountains')"> Mountains</label><br/>
            <label><input type="checkbox" ng-true-value="'Urban'" ng-false-value="" ng-model="checkbox['Urban']" ng-change="checkboxChange_Spark('Urban')"> Urban</label><br/>
        </div>
    </div>
    <div class="row search-buttons-row">
        <div>
            <button type="button" ng-click="search()" class="button search-button">Search</button>
            <button type="button" ng-click="reset()" class="button search-button" >Clear all selections</button>
        </div>
    </div>
</div>
   
<!-- Search Results -->    
<div ng-show="showResults" class="search-results">
    <div ng-repeat="result in results" class="search-item">
        <div class="dest-info">
            <h3>{{ result.location }}, {{ result.country }}</h3>
            <p><span>Region:</span> {{ result.region }}</p>
            <p><span>Languages:</span> {{ result.languageText }}</p>
            <p><span>Price Range:</span> {{ result.price }}</p>
            <p><span>Sparks:</span> {{ result.sparkText }}</p>
        </div>
    </div>
</div>
<div ng-show="showNoResults" class="no-search-results">
    No results found. Please adjust your search terms.
</div>

<ng-include src="'/templates/footer.html'" class="footer-white"></ng-include>

</div> <!-- close search controller & container -->