/*  Additional CSS:
    Normalize.css
    Bootstrap
*/

/* General */

.navbar-nav {
    width: 90%;
}
.nav li {
    width: 25%;
    border-left: 1px solid gray;
    text-align: center;
}

h1 {
    font-size: 6rem;
    padding-top: 80px; /* avoid overlap with navbar */
    margin-bottom: 4vw;
    text-align: center;
}

.footer {
    text-align: center;
    padding: 5px;
}
.footer a {
    text-decoration: underline;
}
.footer p {
    margin-bottom: 0;
}
.white {
    color: white;
}
.black {
    color: black;
}
.italic {
    font-style: italic;
}

/*---------------------------------------------*/

/* Landing Page */
/* use different photo! */
.landing-cover-image img {
    position: relative;
    width: 100%;
    max-width: 1500px;
}
.landing-cover-image {
    padding: 0;
}
.landing-section {
    border-top: 2px solid tan;
    height: 400px;
}
.landing-text {
    background-color: #6CB9F5;
    height: 100%;
}
.landing-pic {
    background-color: gray;
    height: 100%;
}
.image-hold {
    background-color: gray;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    position: relative;
    margin: auto;
    top: 125px;
}

/*---------------------------------------------*/

/* Search Page */
/* see .item from Resources section */
#search-container {
    background-color: lightblue;
}
.radio-group
.checkbox-group
.dropdown-group {
    display: block;
}
label {
    margin-left: 4px;
}
.dest-info  {
    color: black;
}

/*---------------------------------------------*/

/* Inspiration Page */

#inspiration-wrapper {
    background-color: #66a3ff;
}
.instafeed-wrapper {
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 2vw;
    margin-left: 1vw;
    margin-right: 1vw;
    background-color: ghostwhite;
}
.instafeed-header {
    background-color: lightgray;
    font-size: 3rem;
    border-bottom: 1px solid black;
    border-radius: 10px 10px 0 0;
    padding: 1vw;
}
.instagram-logo {
    height: 3rem;
    padding-right: 1vw;
    margin-top: -10px;
}
.instafeed {
    padding-top: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
.instaphoto {
    position: relative;
}
.photo-background {
    top: 0;
    margin-right: 5px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 10px;
}
.photo-info {
    display: flex;
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    padding-top: 30%;
    background-color: black;
    /* opacity 0.75 when showing */
    border-radius: 8px;
    color: white;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.no-show {
    opacity: 0;
/*
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
*/
}
.show {
    opacity: 0.75;
/*
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
*/
}

/*---------------------------------------------*/

/* Resources Page */

.resources-container {
/*     short content can cause blank space on bottom */
    background: url('/assets/tunnel-beach.jpg') no-repeat center fixed;
    background-size: cover;
    background-clip: padding-box;
}

#filterOptions {
    position: relative;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.filter {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: calc(2.5rem + 8vw); /* 10vw */
    width: calc(2.5rem + 8vw);
    border-radius: 10px;
    margin-left: 5vw;
    margin-bottom: 5vw;
    overflow: hidden;
    position: relative;
    font-size: calc(0.5rem + 1vw); /* 1.5vw */
    color: white;
    /* padding-top: 7vw; */
}
.filter.active {
    text-decoration: underline;
    border: 1px solid white;
}
.filter:hover {
    text-decoration: underline;
}
.filter:first-child {
    margin-left: 0;
}
.resource-icon {
    height: calc(1rem + 8vw);
    position: absolute;
    z-index: 2;
    padding-bottom: 3vw;
}

#dataHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding ensures background covers bottom with only 2 items */
    padding-bottom: 130px;
}
.item {
    width: 70vw;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 4vw;
    background-color: white;
    opacity: .7;
    overflow: hidden;
}
.item h3 {
    padding-left: 1vw;
}
.item p {
    padding-left: 1vw;
}
.item a {
    color: black;
}
/* need to redefine a::visited behavior? */