/*  Additional CSS:
    Normalize.css
    Bootstrap
*/

/*  Color Palette:
    Orange: #EF7351
    Purple: #55134E
    White: white
*/

/* General */

/*
body {
    max-width: 1500px;
    margin: auto;
}
*/
.navbar-default {
    max-width: 1500px;
    margin: auto;
}
.container-fluid {
    padding: 0;
    max-width: 1500px;
}
.row {
  padding: 0;
  margin: 0;
}
.navbar {
    background-image: none;
    background-color: #EF7351;
    border-color: #55134E; 
}
#my-navbar a {
    color: #55134E;
    font-size: 1.5rem;
    border: 1px solid #EF7351;
}
#my-navbar a:hover {
    border: 1px solid #55134E;
}
.navbar-brand {
    color: #55134E !important;
    font-size: 3.5rem;
    padding-left: 20px;
}
/*
.navbar-nav {
    width: 90%;
}
*/
/*
.nav li {
    width: 25%;
    border-left: 1px solid #55134E;
    text-align: center;
}
*/

h1 {
    font-size: 6rem;
    padding-top: 80px; /* avoid overlap with navbar */
    padding-bottom: 4vw;
    text-align: center;
    color: #55134E;
}

.footer {
    text-align: center;
    padding: 5px;
}
.footer a {
    text-decoration: underline;
}
.footer p {
    margin-bottom: 0;
}
.white {
    color: white;
}
.black {
    color: black;
}
.italic {
    font-style: italic;
}
.fancy-font {
    font-family: 'Emilys Candy', cursive;
}
.orange-header {
    background-color: #EF7351;
}

/*---------------------------------------------*/

/* Landing Page */
#landing-container {
    max-width: 1500px;
}
.headbar {
    background-color: #EF7351;
    height: 70px;
    line-height: 70px;
    text-align: center;
    color: #55134E;
    font-size: 50px;
}
.hero {
    height: calc(100vh - 70px);
    background: url('/assets/photos/morocco-cactus.jpg') no-repeat right;
    background-size: cover;
    
}
.all-points {
    background-color: #EF7351;
    padding: 0 15px 0 15px;
}
.all-points {
    color: white;
    font-family: 'Lato', sans-serif;
    line-height: 130%;
}
.all-points h4 {
    color: #55134E;
}
.all-points h2 a {
    color: #55134E;
}
.point {
    height: 250px;
    text-align: center;
}
@media (min-width: 768px) and (max-width: 991px) {
    .hero {
        height: calc(100vh - 70px - 250px);
    }
}
@media (min-width: 992px) { /* medium width+ */
    .point {
        height: calc((100vh - 70px) / 3);
    }
}

/*---------------------------------------------*/

/* Search Page */
/* see .item from Resources section */
#search-container {
    background-color: lightblue;
}
.radio-group
.checkbox-group
.dropdown-group {
    display: block;
}
label {
    margin-left: 4px;
}
.dest-info  {
    color: black;
}

/*---------------------------------------------*/

/* Inspiration Page */

#inspiration-wrapper {
    background-color: #EF7351;
}
.instafeed-wrapper {
    margin-bottom: 2vw;
}
.instafeed-header {
    background-color: #55134E;
    font-size: 3rem;
    border-top: 1px solid #55134E;
    border-bottom: 1px solid #55134E;
    padding: 1vw;
}
.instafeed-header a {
    color: #EF7351;
}
.instagram-logo {
    height: 3rem;
    padding-right: 1vw;
    margin-top: -10px;
}
.instafeed {
    padding-top: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
.instaphoto {
    position: relative;
}
.photo-background {
    top: 0;
    margin-right: 5px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
}
.photo-info {
    display: flex;
    position: absolute;
    top: 2px;
    left: 2px;
/*    padding-top: 5vh;*/
    background-color: black;
    /* opacity 0.75 when showing */
    border-radius: 8px;
    color: white;
    text-align: center;
    flex-direction: column;
    justify-content: center;
/*    display: table;*/
}
.photo-text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.no-show {
    opacity: 0;
}
.show {
    opacity: 0.75;
}

/*---------------------------------------------*/

/* Resources Page */

.resources-container {
/*     short content can cause blank space on bottom */
    background: url('/assets/photos/tunnel-beach.jpg') no-repeat center fixed;
    background-size: cover;
    background-clip: padding-box;
}

#filterOptions {
    position: relative;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 1200px;
}
.filter {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: calc(2.5rem + 8vw); /* 10vw */
    width: calc(2.5rem + 8vw);
    border-radius: 10px;
    margin-left: 5vw;
    margin-bottom: 5vw;
    overflow: hidden;
    position: relative;
    font-size: calc(0.5rem + 1vw); /* need to adjust for big & small screens! */
    color: white;
}
.filter.active {
    text-decoration: underline;
    border: 2px solid #EF7351;
}
.filter:hover {
    text-decoration: underline;
    color: #EF7351;
}
.filter:first-child {
    margin-left: 0;
}
.resource-icon {
    height: calc(1rem + 8vw);
    position: absolute;
    z-index: 2;
    padding-bottom: 3vw;
}

#dataHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding ensures background covers bottom with only 2 items */
    padding-bottom: 130px;
}
.item {
    width: 70vw;
    max-width: 1000px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 4vw;
    background-color: white;
    opacity: .8;
    overflow: hidden;
}
.item h3 a {
    padding-left: 1vw;
    color: #EF7351;
    opacity: 1;
}
.item p {
    padding-left: 1vw;
    color: #55134E;
}
.item a {
    color: black;
}
/* need to redefine a::visited behavior? */