/*  Additional CSS:
    Noramalize.css
    Bootstrap
*/

/* General */
h1 {
    font-size: 6rem;
    margin-top: 80px; /* avoid overlap with navbar */
    margin-bottom: 4vw;
    text-align: center;
}

/* Navigation Bar */
.navbar-nav {
    width: 90%;
}
.nav li {
    width: 25%;
    border-left: 1px solid gray;
    text-align: center;
}

/* Footer */
/* note: not ok for page with short content */
.footer {
    height: 50px;
    background-color: #6CB9F5;
    width: 100%;
}

/* Landing Page */
.landing-cover img {
    position: relative;
    width: 100%;
    max-width: 1500px;
}
.landing-cover-image {
    padding: 0;
}
.landing-section {
    border-top: 2px solid tan;
    height: 400px;
}
.landing-text {
    background-color: #6CB9F5;
    height: 100%;
}
.landing-pic {
    background-color: gray;
    height: 100%;
}
.image-hold {
    background-color: gray;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    position: relative;
    margin: auto;
    top: 125px;
}

/* Search Page */
.geography .radio-group {
    display: block;
}
label {
    margin-left: 4px;
}
.dropdown-group {
    display: block;
}

/* Inspiration Page */
.powr-instagram-feed {
    padding-left: 0;
    padding-right: 0;
}

/* Resources Page */

#container-resources {
/*     use different photo! */
/*     short content can cause blank space on bottom */
    background: url(/assets/tunnel-beach.jpg) no-repeat center fixed;
    background-size: cover;
    background-clip: padding-box;
}

#filterOptions {
    position: relative;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.filter {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: calc(2.5rem + 8vw); /* 10vw */
    width: calc(2.5rem + 8vw);
    border-radius: 10px;
    margin-left: 5vw;
    margin-bottom: 5vw;
    overflow: hidden;
    position: relative;
    font-size: calc(0.7rem + 1vw); /* 1.5vw */
    color: white;
    padding-top: 7vw;
}
.filter.active {
    text-decoration: underline;
    border: 1px solid white;
}
.filter:hover {
    text-decoration: underline;
}
.filter:first-child {
    margin-left: 0;
}

#dataHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding ensures background covers bottom with only 2 items */
    padding-bottom: 130px;
}
.item {
    width: 70vw;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 4vw;
    background-color: white;
    opacity: .7;
    overflow: hidden;
}
.item h3 {
    padding-left: 1vw;
}
.item p {
    padding-left: 1vw;
}
.item a {
    color: black;
}
/* need to redefine a::visited behavior? */